import * as jwt from 'jsonwebtoken';
import { JWTPayload } from '../models/jwt-payload';
import { Logger } from '../services/logger';

const LOGGER = Logger.getLogger('JWTService');
const SECRET = '{{SECRET_KEY}}';

export class JWTService {
    public static generateToken(payload: JWTPayload): string {
        return jwt.sign(payload, SECRET, {
            expiresIn: 60 * 60 * 24
        });
    }

    public static verify(token: string): JWTPayload {
        let decoded: JWTPayload;

        try {
            decoded = jwt.verify(token, SECRET) as JWTPayload;
        } catch (e) {
            LOGGER.error(e);
            throw e;
        }

        return decoded; 
    }
}